.footer{
    background-color: $tertiaryColor;
    color: $white;
    padding:100px 262px ;

    &__block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 100px;

        &__liste{
            cursor: pointer;
            padding-top:5px ;
        }
    }
}

