.header{
    width: 100%;
    background-color: $white;
    box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius:0px 0px 15px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 25px 0px;

    &__nav{
        display: flex;
        gap: 70px;
        padding: 0px;        
    }
    
    &__nav li{
        text-decoration: none;
        list-style: none; 
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 30px; /* Pour laisser de l'espace pour l'icône */
        background-size: 20px 22px; 
        
    }
}


.header__nav a{
    color: $primaryColor;
}


.recette{
    background-image: url('../images/header/recette.png');

    @media screen and (max-width: 430px) {
        display: none;
    }
}

.contact{
    background-image: url('../images/header/contact.png');

    @media screen and (max-width: 430px) {
        display: none;
    }
}

.compte{
    background-image: url('../images/header/mon_compte.png');

    @media screen and (max-width: 430px) {
        display: none;
    }
}




.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: $secondaryColor;
    padding-top: 60px;
    transition: left 0.5s ease;

      @media screen and (min-width:431px) {
        display: none;
      }
  }
  

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $white;
    display: block;
    transition: 0.3s;

      @media screen and (min-width:431px) {
        display: none;
      }
    
  }
  
  .sidenav a:hover {
    color: $primaryColor;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  

  .sidenav.active {
    left: 0;
  }
  

  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color:$primaryColor;
    margin: 6px 0;

      @media screen and (min-width:431px) {
        display: none;
      }
  }

  #openBtn{
    @media screen and (min-width:431px) {
        display: none;
      }
  }