.commu {
    text-align: center;
    background-color: $white;
    position: relative;
    z-index: 2;
    padding-bottom: 150px;
    padding-top: 110px;

    

    &__etiquette {
        color: $white;
        display: flex;
        justify-content: space-around;
        padding: 60px 237px;
        gap: 203px;
        @media screen and (max-width: 1024px) {
            gap: 68px;
            padding: 60px 100px;
          }
        
        

        &__marie {
            display: flex;
            flex-direction: column;
            background-color: $tertiaryColor;
            padding: 25px;  
            border-radius: 15px;
            box-shadow:4px 4px 4px 0px rgba(0, 0, 0, 0.25);
            width: 330px;
            margin: 0 auto;

            

            &__data {
                display:flex ;
                justify-content: space-between;
                padding-bottom: 25px;
            }
        
            &__decouvrir{
                padding: 10px 20px;
                border: solid 2px $white;
                border-radius: 5px;
                line-height: 24px;
                color: $white;
                @media screen and (max-width: 1024px) {
                    padding: 10px 0px;
                  }
            }    

            &__decouvrir:hover{
                transition: ease-in-out 0.2s;
                color: $tertiaryColor;  
                border: solid 2px $tertiaryColor;
                border-radius: 5px;
                background-color: $quaternaryColor;
                @media screen and (max-width: 1024px) {
                    padding: 10px 0px;
                  }
            }
        
        
        }

        &__jacque {
            display: flex;
            flex-direction: column;
            background-color: $tertiaryColor;
            padding: 25px;  
            border-radius: 15px;
            box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            width: 330px;
            margin: 0 auto;
 


            &__data {
                display:flex ;
                padding-bottom: 25px;
                justify-content: space-between;
            }
        
            &__decouvrir{
                padding: 10px 20px;
                border: solid 2px $white;
                border-radius: 5px;
                line-height: 24px;
                color: $white;
                @media screen and (max-width: 1024px) {
                    padding: 10px 0px;
                  }
            }    

            &__decouvrir:hover{
                transition: ease-in-out 0.2s;
                color: $tertiaryColor;  
                border: solid 2px $tertiaryColor;
                border-radius: 5px;
                background-color: $quaternaryColor;
                @media screen and (max-width: 1024px) {
                    padding: 10px 0px;
                  }
            }
        
        
        }

        &__sylvie {
            display: flex;
            flex-direction: column;
            background-color: $tertiaryColor;
            padding: 25px;  
            border-radius: 15px;
            box-shadow:-4px 4px 4px 0px rgba(0, 0, 0, 0.25);
            width: 330px;
            margin: 0 auto;
 


            &__data {
                display:flex ;
                padding-bottom: 25px;
                justify-content: space-between;
            }
        
            &__decouvrir{
                padding: 10px 20px;
                border: solid 2px $white;
                border-radius: 5px;
                line-height: 24px;
                color: $white;
                @media screen and (max-width: 1024px) {
                    padding: 10px 0px;
                  }
            }    

            &__decouvrir:hover{
                transition: ease-in-out 0.2s;
                color: $tertiaryColor;  
                border: solid 2px $tertiaryColor;
                border-radius: 5px;
                background-color: $quaternaryColor;
                @media screen and (max-width: 1024px) {
                    padding: 10px 0px;
                  }
            }
        
        }
    }

    &__button{
        padding: 15px 70px;
        border: solid 2px $tertiaryColor;
        border-radius: 5px;
        line-height: 24px;
        color: $tertiaryColor;  
    }

    &__button:hover{
        transition: ease-in-out 0.2s;
        color: $white;  
        border: solid 2px $white;
        border-radius: 5px;
        background-color: $tertiaryColor;
    }
        
}

.commu h2{
    color:$tertiaryColor;
    width: 922px;
    margin: 0 auto;
    @media screen and (max-width: 1024px) {
        width: 474px;
      }
}

.commu p{
    width: 448px;
    margin: 0 auto;
    @media screen and (max-width: 1024px) {
        width: 308px;
      }
}

.pp {
    width: 91px;
    margin: 0 auto;
    padding-bottom: 25px;
    @media screen and (max-width: 1024px) {
        width: 58px;
      }
}

.imgPlat{
    width: 280px;
    margin: 0 auto;
    @media screen and (max-width: 1024px) {
        width: 175px;
      }
}