.function{
background-color: $white;
padding-top: 50px;
padding-bottom: 150px;
text-align: center;



    &__bouton{
        padding: 15px 50px;
        border-radius: 5px;
        color: $white; 
        background: $primaryColor;
    }

    &__bouton:hover{
        transition: ease-in-out 0.2s;
        background-color: $secondaryColor;
        color: $white;
        
    }    
}


.function h2{
    color: $primaryColor;    
}