.hero {
    background-color: $white;
    z-index: -1;
    position: relative;
    text-align: center;
    top: 4%;
    padding: 150px;

    &__ia{
        border : 2px solid $tertiaryColor;
        width: 920px;
        border-radius: 15px;
        display: inline-block;
        padding: 65px 0px;
    }

    &__ia h3{
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 35.2px;
        color: $tertiaryColor;
    }

    &__ia p{
        font-family: Epilogue;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: $tertiaryColor;
        opacity: 0.65;
    }

    &__bouton{
        width: 112px;
        margin: 0 auto;
        display: block;
        padding: 15px 50px;
        margin-top: 50px;
        background-color: $primaryColor;
        border-radius: 5px;
        line-height: 24px;
        color: $white;
    }

    &__bouton:hover{
        background-color: $secondaryColor;
    }

}



.hero h1{
    width: 1396px;
    margin: 0 auto;
    font-size: 96px;
    line-height: 105.6px; 
}

.hero h2{
    
    color: $primaryColor;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 70.4px;
}

.photoPlat{
    position: absolute;
    left: 4%;    
}