.whyPart2 {
    text-align: center;
    color: $white;
    background-color: $primaryColor;
    border-radius: 25px;
    position: relative;
    z-index: 2;
    padding-bottom: 174px;
    padding-top: 100px;

    &__ingredient{
        padding-bottom: 258px;
        
        &__blockText{
            width: 448px;
            margin: 0 auto;
        }

        &__gif img{
            width: 922px;
        }
    }

    &__ingredient h2{
        width: 448px;
        margin: 0 auto;
    }

    &__ingredient p{
        width: 448px;
        padding-bottom: 50px;
        margin: 0 auto;
    }

    
    &__responsive {

   
        
        &__block{
            padding-top: 97px ;
            padding-bottom: 147px;
            display: flex;
            justify-content: center;
            align-items: end;
            gap: 85px;

            &__tel{
               width: 330px;
            }

            &__ordi{
                width: 330px;
            }

            &__tab{
                width: 330px;
             }
        }
    }
   


    &__responsive a{
        color: $primaryColor;
        width: 112px;
        margin: 0 auto;
        display: block;
        padding: 15px 50px;
        margin-top: 50px;
        background: $white;
        border-radius: 5px;
        line-height: 24px;

    }

    &__responsive a:hover{
        color: $white;  
        transition: ease-in-out 0.2s;
        background-color: $secondaryColor;
       
    }
}

#outro{
    width:922px;
    margin: 0 auto;
}