.why{
    background-color: $primaryColor;
    border-radius: 25px 25px 0px 0px;
    padding-bottom: 150px;
    padding-top: 90px;
    color:$white;

    @media screen and (max-width: 430px) {
        padding-bottom: 100px;
    }
    
    &__intro{
        padding-bottom: 150px;
        text-align: center;
        width: 686px;
        margin: 0 auto;
        @media screen and (max-width: 1024px) {
            width: 474px;
            padding-bottom: 100px;

          }
          
          @media screen and (max-width: 430px) {
            width: 380px;
            
        }
    }

    &__intro img{
        @media screen and (max-width: 1024px) {
            width: 58px;
          }

    }

    &__photo{
        display: flex;
        padding-bottom:200px ;
        justify-content: center;
        align-items: center;
        gap: 142px;
        @media screen and (max-width: 1024px) {
            gap: 108px;
            width: 807px;
            margin: 0 auto;
            padding-bottom:100px ;
          }
          
          @media screen and (max-width: 430px) {
            flex-direction: column-reverse;
            text-align: center;
            width: 380px;
            gap: 0px
        }
    
        
        

        

        &__text {
        width: 449px;

        @media screen and (max-width: 430px) {
            width: 380px;
        }
        
        }         
        

        
    }

    &__photo img{
        @media screen and (max-width: 1024px) {
            width: 392px;
            margin: 0 auto;
          }
          
          @media screen and (max-width: 430px) {
            width: 380px;
        }
    }

    

    &__suiviRecette{
        display: flex;
        padding: 25px 50px;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        gap: 144px;

        @media screen and (max-width: 1024px) {
            gap: 25px;
          }
          
          @media screen and (max-width: 430px) {
            flex-direction: column;
            text-align: center;
            width: 380px;
            gap: 50px;
            padding: 25px 25px;
        }

        &__blockText {
            width: 449px;
            @media screen and (max-width: 1024px) {
                width: 308px;
              }
              
              @media screen and (max-width: 430px) {
                width: 380px;
            }
        }
        
    
        &__blockText p{
            padding-bottom: 50px;
            @media screen and (max-width: 430px) {
                padding-bottom: 25px;
            }
    
        }
    
        &__blockText a{
            padding: 15px 68px;
            border: solid 2px $white;
            border-radius: 5px;
            color: $white;        
            
        }
    
        &__blockText a:hover{
            transition: ease-in-out 0.2s;
            border: solid 2px $primaryColor;
            background-color: $secondaryColor;
           
        }

        &__blockImg img{
            
            @media screen and (max-width: 1024px) {
                width: 475px;
              }
              
              @media screen and (max-width: 430px) {
                width: 380px;
                margin: 0 auto;
            }
        }
    }

    
       
}


    