.why{
    background-color: $primaryColor;
    border-radius: 25px;
    padding-bottom: 150px;
    padding-top: 90px;
    color:$white;
    
    &__intro{
        padding-bottom: 150px;
        text-align: center;
        width: 686px;
        margin: 0 auto;
    }

    &__photo{
        display: flex;
        padding-bottom:200px ;
        justify-content: center;
        align-items: center;
        gap: 142px;

        &__text {
        width: 449px;
        }
    }

    

    &__suiviRecette{
        display: flex;
        padding: 25px 50px;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        gap: 144px;

        &__blockText {
            width: 449px;
        }
    
        &__blockText p{
            padding-bottom: 50px;
        }
    
        &__blockText a{
            padding: 15px 68px;
            border: solid 2px $white;
            border-radius: 5px;
            color: $white;        
        }
    
        &__blockText a:hover{
            transition: ease-in-out 0.2s;
            border: solid 2px $primaryColor;
            background-color: $secondaryColor;
           
        }
    }
       
}


    