html {
    // box-sizing: border-box; 
    font-size: 62.5%;
  }
  
  body{
    font-size: 1.6rem;
    font-family: "Sofia Pro Soft","Epilogue", sans-serif;
    background-image: url('../../../dist/images/landingPage/partie_2/photo_mid_web.jpg ');
    background-size: 100%;
    background: cover;
    margin: 0;
  }


  p{
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  h4{
    font-family: "Sofia Pro Soft";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  h3 {
    font-family: "Sofia Pro Soft";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.2px;
  }

  h2 {
    font-family: "Sofia Pro Soft";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 70.4px;
    padding-bottom: 25px;
  }

  
  h1 {
    font-family: "Sofia Pro Soft";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 105.6px;
    padding-bottom: 25px;
  }
  