html {
    // box-sizing: border-box; 
    font-size: 62.5%;
  }
  
  body{
    font-size: 1.6rem;
    font-family: "Sofia Pro Soft","Epilogue", sans-serif;
    background-image: url('../../../dist/images/landingPage/partie_2/photo_mid_web.jpg ');
    background-size: 100%;
    background: cover;
    margin: 0;
  }

  
  
  