html {
    // box-sizing: border-box; 
    font-size: 62.5%;
  }
  
  body{
    font-size: 1.6rem;
    font-family: "Sofia Pro Soft","Epilogue", sans-serif;
    margin: 0;
  }

  a {
    text-decoration: none;
    text-align: center;
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    @media screen and (max-width: 430px) {
      font-size: 10px;
      line-height: 15px; 
    }
  }

  p{
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    @media screen and (max-width: 430px) {
      font-size: 10px;
      line-height: 15px; 
    }
  }

  h4{
    font-family: "Sofia Pro Soft";
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    @media screen and (max-width: 1024px) {
      font-size: 16px;
      line-height: 24px;
    }
    
    @media screen and (max-width: 430px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  h3 {
    font-family: "Sofia Pro Soft";
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    line-height: 35.2px;
    @media screen and (max-width: 1024px) {
      font-size: 20px;
      line-height: 22px;
    }
    
    @media screen and (max-width: 430px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  h2 {
    font-family: "Sofia Pro Soft";
    font-size: 64px;
    font-style: normal;
    font-weight: bold;
    line-height: 70.4px;
    padding-bottom: 25px;
    @media screen and (max-width: 1024px) {
      font-size: 32px;
      line-height: 35.2px;
    }
    
    @media screen and (max-width: 430px) {
      font-size: 20px;
      line-height: 22px;
    }
  }

  
  h1 {
    font-family: "Sofia Pro Soft";
    font-size: 96px;
    font-style: normal;
    font-weight: bold;
    line-height: 105.6px;
    padding-bottom: 25px;
    margin: 0;
    @media screen and (max-width: 1024px) {
      font-size: 64px;
      line-height: 70.4px;
    }
    
    @media screen and (max-width: 430px) {
      font-size: 32px;
      line-height: 35.2px;
    }
  }
  